@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap');
*,*::after,*::before{
    margin: 0%;
    padding: 0%;
    border: 0%;
    box-sizing: border-box;
    border: none;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    font-style: normal;
}/* Reset All Tag*/
html{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 62.5%;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #F1F3F4;
    color: #000;
}
.conteiner{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
[class^="main"]{
    width: 50%;
    height: 40%;
    margin-top: 2.5%;
    background-color: #FFF;
    border: solid 2.4px transparent;
    border-radius: 7px;
    transition:  border-left 0.1s;
}
[class^="main"]:hover{
    border-left: #EA1D2C 5px solid;
}
.main-bar{
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
}
.conteiner-main-bar{
    width: 95%;
    min-height: 20%;
    margin-top: 1.2%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
}
.discrition-ifood{
    width: 95%;
    height: 20%;
}
.h1-discrition{
    margin-top: 5px;
    font-size: 1.9rem;
    font-weight: 400;
}
.h1-ifood{
    height: 29px;
    color: #EA1D2C;
    margin-left: 3px;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    justify-items: flex-end;
    align-items: center;
}
[class^="conteiner-row-ifood"]{
    width: 95%;
    min-height: 50%;
}
.termos-ifood{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.termos{
    margin-top: 5px;
    font-size: 1.9rem;
    font-weight: 400;
    color: #EA1D2C;
}
.termos-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ifood-text{
    width: 95%;
    height: 64%;
    background-color: #F1F3F4;
    border: 1px solid transparent;
    border-radius: 2px;
    overflow-y:scroll;
}
.text-title{
    margin-left: 7px;
    color: #EA1D2C;
    font-size: 1.5rem;
    font-weight: 400;
}
.text{
    margin-left: 15px;
    font-size: 1.2rem;
    font-weight: 400;
}
.text-termos{
    margin-left: 7px;
    font-size: 1rem;
    font-weight: 400;
}
.conteiner-btn{
    width: 95%;
    height: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
[class^="btn-ifood"]{
    width: 90px;
    padding: 10px;
    border: 0.5px solid transparent;
    border-radius: 8.7%;
    margin: 10px;
    background-color: #ea1d2bc7;
    color: #FFF;
}
[class^="btn-ifood"]:hover{
    background-color: #EA1D2C;
}
/**/
.main-bar-ifood{
    width: 50%;
    height: 40%;

}
.ifood-row{
    width: 100%;
}
.ifood-title{
    font-size: 1.57rem;
    font-weight: 400;
}
.ifood-tlt{
    width: 100%;
    height: 30px;
    margin-left: 2.5%;
}
.card-ifood{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selects-vouchers-row{
    width: 95%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.selects-vouchers{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vouchers{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 300;
}
.menu-next-ifood{
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: row;;
    justify-content: center;
    align-items: center;
}
[class^="next-if"]{
    width: 5%;
    height: 70%;
    border: 0.1px solid #F1F3F4;
    border-radius: 20%;
    margin: 10px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}
.next-if-1{
    background-color: #ea1d2bcb;
    color: #FFF;
    
}